@use '../global';

@mixin regular-column-sections {
	.column {
		@include global.layout(center, center);

		width: inherit;
		height: 40rem;

		button {
			font-size: 1.5rem;
			border: 1px solid currentColor {
				radius: 10px
			};
			padding: .4em 2em .4em 2em;
			margin-top: 1em;
			background-color: transparent;
			transition: background-color .4s, color .4s;

			&:hover {
				background-color: var(--White-Hover);
				color: black;
				transition: background-color .4s, color .4s;
			}
		}

		> .section {
			@include global.layout(space-between, center, row, 5em);

			width: inherit;
			max-width: 1200px;

			h2 {
				letter-spacing: 1px;
			}
		}

		#game-section, #software-section {
			max-width: 1100px;
		}
	}
}

@mixin special-column-sections {
	.column-special {
		@include global.layout(center, center);
		
		width: inherit;
		height: 30rem;
		margin: 0;

		h1 {
			margin-top: 0;
		}
		h2 {
			letter-spacing: .7px;

			> strong {
				font-size: 1.1em;
			}
		}

		> .section {
			@include global.layout(center);

			width: inherit;
			text-align: center;

			> div {
				display: grid;
				max-width: 1120px;

				h1 {
					margin: 0 0 1rem 0;
				}
			}
		}
	}
}

@mixin import-styles {
	> #middle-section {
		@include global.layout(center, center, column);

		background-color: var(--Page-Secondary);
		width: 100vw;
		margin-top: 6.5rem;
			
		$border-c: 1px solid var(--Border-Color);
		border: {
			top: $border-c;
			bottom: $border-c;
		};

		@media (prefers-color-scheme: light) {
			background-color: #f0f0f0;
		}

		> div:nth-of-type(even) {
			background-color: var(--Page-even-Secondary);

			@media (prefers-color-scheme: light) {
				background-color: white;
			}
		}

		img {
			user-select: none;
			pointer-events: none;
		}

		h1 {
			font: {
				family: var(--Montserrat-font);
				size: 2.4em;
			}
		}

		h2 {
			font: {
				family: var(--Lato-font);
				weight: normal;
			}
		}
		
		@include regular-column-sections;
		@include special-column-sections;
	}
}