@use 'global';

.github-calendar {
    > p {
        font-size: 1.3rem;
        text-align: center;
    }

    --color-calendar-graph-day-bg: #323241;
    --color-calendar-graph-day-L1-bg: #0069ff;
    --color-calendar-graph-day-L2-bg: #004ab3;
    --color-calendar-graph-day-L3-bg: #003580;
    --color-calendar-graph-day-L4-bg: #00204d;

    @media (prefers-color-scheme: light) {
        --color-calendar-graph-day-bg: #{global.tolight(50, 50, 65, 3)};
        --color-calendar-graph-day-L1-bg: #{global.tolight(0, 105, 255, 1.6)};
        --color-calendar-graph-day-L2-bg: #{global.tolight(0, 74, 179, 2)};
        --color-calendar-graph-day-L3-bg: #{global.tolight(0, 53, 128, 3)};
        --color-calendar-graph-day-L4-bg: #{global.tolight(0, 32, 77, 2)};
    }

    font: {
        family: var(--Montserrat-font);
        weight: bold;
    }

	color: #c8c8c8;
    padding: 1.5em;

    rect.ContributionCalendar-day[data-level='0'] {
        opacity: .5;
        fill: var(--color-calendar-graph-day-bg);
    }
    rect.ContributionCalendar-day[data-level='1'] {
        fill: var(--color-calendar-graph-day-L1-bg);
    }
    rect.ContributionCalendar-day[data-level='2'] {
        fill: var(--color-calendar-graph-day-L2-bg);
    }
    rect.ContributionCalendar-day[data-level='3'] {
        fill: var(--color-calendar-graph-day-L3-bg);
    }
    rect.ContributionCalendar-day[data-level='4'] {
        fill: var(--color-calendar-graph-day-L4-bg);
    }
    text { //Hide days of the week within the calendar
        display: none
    }
    //Anchors
    a {
        text-decoration: none;
    }
    a[href="https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile"],
    .js-activity-overview-graph-container,
    .text-normal,
    .flex-lg-row,
    .contrib-column {
        display: none;
    }
    .js-org-filter-link {
        color: #c8c8c8;
    }

    @media (prefers-color-scheme: light) {
        color: #1e1e1e;

        .js-org-filter-link {
            color: #1e1e1e;
        }
    }

    //--
    .avatar, .mr-1 { 
        width: 30px;
        height: 30px;
        top: 12px;
        border: 1px solid currentColor {
            radius: 10px;
        };
        padding: .2em;
        position: relative;
    }
    .width-full {
        @include global.layout(center, center);

        margin-top: .5em;
    }
    .subnav { //Contribution icons and titles
        @include global.layout(center, center, row, 2em);
    }
    div[aria-hidden="true"] {
        font-weight: normal;
    }
}