@use './global';

$Header-Span-hover-time: .8s;

//Any formulas or tricks for getting the text length to width?
//calc(textLength + 1em)
//5/20/23
@mixin hover-span($data-name, $width: auto) {
	&:hover > span[data-head-span=#{$data-name}] { //Mixins may not contain mixin declarations.
		width: $width;
		//It's suppose to push the others on hover, I like it
		transition: width calc($Header-Span-hover-time / 2);
	}
}

@mixin topbar-header-active($active-button-selection) {
	$trans-speed: .5s;
	$trans-speed-calc: calc($trans-speed / 2);

	header {
		@include global.layout(center, center);
		width: 100vw;
		height: 4rem;
		padding-top: 1em;
		border: 0;
		top: -1px;
		position: sticky;
		transition: 
			background-color $trans-speed-calc, height $trans-speed-calc, 
			border-bottom $trans-speed-calc, padding-top $trans-speed-calc;

		&.stuck {
			background-color: #0a0a0ae6;
			backdrop-filter: blur(10px);
			height: 6rem;
			border-bottom: 1px solid var(--Border-Color);
			padding-top: 0;
			z-index: 2; //Spinny pfp likes to go above the header
			transition: 
				background-color $trans-speed, height $trans-speed, 
				border-bottom $trans-speed, padding-top $trans-speed;

			@media (prefers-color-scheme: light) {
				background-color: #c8c8c8e6;
			}
		}

		span {
			display: block;
			background-color: white;
			width: 1em;
			height: 2px;
			transition: width $Header-Span-hover-time;

			@media (prefers-color-scheme: light) {
				background-color: black;
			}
		}
		
		a {
			@include global.layout(center, center, column, unset, true);
			text-decoration: none;

			//Hax
			@if $active-button-selection == "Home" {
				button[data-head-button=#{$active-button-selection}] {
					font-weight: bold;
				}
				span[data-head-span=#{$active-button-selection}] {
					width: 6em;
				}
			} @else {
				//Cant pass $active-button-selection as the first argument and concatenate -05/22/23
				@include hover-span("Home", 6em);
			}

			@if $active-button-selection == "Repositories" {
				button[data-head-button=#{$active-button-selection}] {
					font-weight: bold;
				}
				span[data-head-span=#{$active-button-selection}] {
					width: 21em;
				}
			} @else {
				@include hover-span("Repositories", 21em);
			}

			@if $active-button-selection == "Contact" {
				button[data-head-button=#{$active-button-selection}] {
					font-weight: bold;
				}
				span[data-head-span=#{$active-button-selection}] {
					width: 8em;
				}
			} @else {
				@include hover-span("Contact", 8em);
			}
		}

		button {
			font: {
				family: var(--Montserrat-font);
				size: 1.4em;
			};
			letter-spacing: 3px;
			background-color: transparent;
			padding: .4em 0 .4em 0;
		}
		
		> #header-buttons {
			@include global.layout(space-evenly);
			width: global.real-viewbox(70vw);
		}
	}
}