@use 'mixins';

@mixin topbar-button-hover($width: auto) {
	width: $width;
	transition: width var(--button-hover-speed, .4s);
}

@mixin style-nav() {
	@include mixins.layout(center, center);

	top: -1px;
	z-index: 2; //For things that wanna be below the topbar
	position: sticky;

	&.stuck {
		background-color: var(--main-background-color);

		> div { //Get width to animate with scroll
			width: 100vw;
			height: 5rem;
			margin: 0;
			border-bottom-color: var(--light-border);
			transition: border-color .4s, height .4s;
		}
	}

	> div:nth-child(1) {
		@include mixins.layout(center, center, row, 4em);

		height: 6rem;
		border-bottom: 1px solid white;
		width: 100vw;
		background-color: transparent;
		transition: border-color .2s, height .2s;

		button {
			font: {
				family: var(--Montserrat-font);
				size: 1.5em
			};
			color: var(--font-color);
			padding: 10px;
			width: 8em;
			border: 0;
		}
		#pd-logs {
			width: 9em;
		}
		.head-button {
			@include mixins.layout(center, center, column);

			> span {
				display: block;
				width: 1em;
				height: .1em;
				background-color: var(--font-color);
				transition: width calc(var(--button-hover-speed, .4s) * 2);
			}
		}
	}
}