:root {
	--Montserrat-font: "Montserrat", sans-serif;
	--DancingScript-font: "Dancing Script", cursive;
	--light-button-hover: #323232;
	--font-light-color: #fafafa;
	--main-section-color1: #2d61cc;
	--button-hover-speed: .4s;
}

::selection {
	background-color: #7f76ff;
	color: white;
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	overflow-x: hidden;
	background-color: #303841;
}
button {
	cursor: pointer;
	background-color: transparent;
}
h1, h2 {
	font-family: var(--Montserrat-font);
	color: var(--font-light-color);
}