:root {
	--Montserrat-font: "Montserrat", sans-serif;

	--light-button-hover: #323232;

	--dark-svg-blue: #2d61cc;

	--button-hover-speed: .4s;
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	overflow-x: hidden;
}
button {
	cursor: pointer;
	background-color: transparent;
}

$TopBar: "header > div";
$MainPage: "main > div";

#{$TopBar} {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	height: 10vh;

	button {
		font-family: var(--Montserrat-font);
		font-size: 1.5em;
		padding: 10px;
		width: 8em;
		border: 0;
	}
	a {
		text-decoration: none;
	}
	div[data-topbutton="home"], div[data-topbutton="repos"] {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		> span {
			display: block;
			width: 1em;
			height: .1em;
			background-color: black;
			transition: width calc(var(--button-hover-speed) * 2);
		}
	}
	div[data-topbutton="home"] > span {
		width: 5em;
		transition: height calc(var(--button-hover-speed) * 2);
	}
	div[data-topbutton="repos"]:hover > span {
		width: 10em;
		transition: width var(--button-hover-speed);
	}
}

#{$MainPage} {
	> div { //Profile Picture and about my GitHub stuff
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10em;
		margin-top: 30px;
		padding: 10px;

		> img {
			border-radius: 50%;
			width: 20em;
		}
		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			> h1 {
				text-align: center;
			}
			> button {
				font-family: var(--Montserrat-font);
				font-weight: bold;
				font-size: 1.3em;
				border: 1px solid black;
				padding: 15px;

				&:hover {

				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	// #{$MainPage} > svg > path {
	// 	fill: var(--dark-svg-blue);
	// }
}