//hi i like flexboxes;

@use 'modules/global';
@use 'modules/header';
@use 'modules/graph';

@include header.topbar-header("Home");

#gl-scene {
	width: 100vw;
	height: 100vh;
	user-select: none;
	pointer-events: none;
	z-index: -1; //This works lol
	position: absolute
}

main {
	@include global.flex-it(center, center, column);

	> #pfp-name-section {
		@include global.flex-it(space-evenly, center, row);

		width: global.real-viewbox(95vw);
		height: 80vh;
	
		#GitHub-pfp {
			border-radius: 50%;
			width: 330px;
			transition: width .5s, transform 1s;
			
			&:hover {
				width: 340px;
				transform: rotate(360deg);
				transition: width .5s, transform 1.5s;
			}

			@media (prefers-reduced-motion) {
				&:hover {
					transform: rotate(0deg) !important;
				}
			}
		}
		//Convert ::after 'pseudo' or ::before to a span block
		@mixin pseudo-to-span($anim-name, $start-length, $width: auto, $bottom: unset, $color: black) {
			@keyframes #{$anim-name} {
				0% {
					width: $start-length;
				}
				100% {
					width: 0;
				}
			}
			
			display: block;
			background-color: $color;
			width: $width;
			height: 1.1em;
			bottom: $bottom; //fix this
			border: .5px solid white {
				radius: 10px;
			};
			animation: 1s ease-out .5s 1 forwards $anim-name;
			transition: 2s height .5s;
		}
		
		> div:nth-of-type(2) { //Select the div with my name and github graph
			margin-top: 10rem;

			h1, h2 {
				text-align: center;
			}

			#h1-user {
				font: {
					family: var(--Montserrat-font);
					size: 3.5em;
				}
				margin: {
					bottom: .4em;
					top: 0;
				};

				&::after {
					content: '';

					//@include pseudo-to-span("h1-user-anim", 10em, 10em, 11.3em);
				}
			}
			
			#h2-user {
				font: {
					family: var(--Montserrat-font);
					size: 1.5em;
					weight: normal;
				}
				margin-top: 0;
			}
		}
	}
	

	> #bottom-section {
		@include global.flex-it(center);

		background-color: black;
		width: 100vw;
		height: 100vh;
		border-top: 1px solid var(--Border-Color);
		margin-top: 7rem;

		&.undim {
			background-color: var(--Page-Secondary);
		}

		> #web-section {
			@include global.flex-it(space-evenly, center);

			width: 70vw;
			height: 40vh;

			h1 {
				text-align: center;
			}
		}


	}
}