// Mobile layout
@use './layouts/index-style-mobile.scss';
@use './github-graph/graph-style.scss';

header {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 4rem;
	height: 10vh;

	@mixin topbar-button-hover($pointer, $button-data-name, $width) {
		#{$pointer}[data-topbutton=#{$button-data-name}]:hover > span {
			width: $width;
			transition: width var(--button-hover-speed, .4s);
		}
	}

	> a {
		text-decoration: none;
		
		button {
			font: {
				family: var(--Montserrat-font);
				size: 1.5em
			};
			color: var(--font-light-color);
			padding: 10px;
			width: 8em;
			border: 0;
		}
	}
	.head-button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		> span {
			display: block;
			width: 1em;
			height: .1em;
			background-color: var(--font-light-color);
			transition: width calc(var(--button-hover-speed, .4s) * 2);
		}
	}
	div[data-topbutton="home"] > span {
		width: 5em;
	}

	//Topbar Hover effects
	@include topbar-button-hover('div', "repos", 90%);
	@include topbar-button-hover('div', "contact", 60%);
	@include topbar-button-hover('div', "plans", 40%);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	$Button-Hover-Effect: background-color var(--button-hover-speed, .4s), color var(--button-hover-speed, .4s), border-radius var(--button-hover-speed, .4s);

	@mixin text-gradient($pointer, $text-data-name, $grad-color-1, $grad-color-2) {
		#{$pointer}[data-gradtype=#{$text-data-name}] {
			background-image: linear-gradient(16deg, $grad-color-1 0%, $grad-color-2 100%);
			background-clip: text;
			color: transparent;
		}
	}

	> div { //Profile Picture and about my GitHub stuff
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 3.5rem;
		column-gap: 5rem;
		padding: 10px;
		max-width: 1920px;

		img {
			border-radius: 50%;
			width: 20em;
			transition: width var(--button-hover-speed);

			&:hover {
				width: 20.5em;
				transition: width var(--button-hover-speed);
			}
		}
		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 65rem;

			> :is(h1, h2) {
				text-align: center;
				margin: 0;
			}
			> h1 {
				font: {
					family: var(--DancingScript-font);
					size: 5em;
				};
				margin-bottom: .5em;
			}
			> h2 {
				font-size: 2.5em;
				margin-bottom: 1em;

				@include text-gradient('> span', "software", #3500ff, #ff00d9);
				@include text-gradient('> span', "web", #0050ff, #00ffb5);
				@include text-gradient('> span', "game", #ffcb00, #ff00bf)
			}
			> div {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				width: 80%;

				button {
					font: {
						family: var(--Montserrat-font);
						weight: bold;
						size: 1.3em;
					}
					color: var(--font-light-color);
					border: 2px solid white;
					padding: 15px;
					width: 13em;
					transition: $Button-Hover-Effect;

					&:hover {
						background-color: white;
						color: black;
						border-radius: 10px;
						transition: $Button-Hover-Effect;
					}
				}
			}
		}
	}

	// Main bottom section
	> section {
		background-color: var(--main-section-color1);
		width: 100vw;

		> div { //Version control section
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			> div {
				display: flex;
				row-gap: 1em;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				> h1 {
					font-size: 2.5em;
					margin-bottom: 0
				}
				> h2 {
					font-weight: normal;
					margin-top: 0
				}

				> div:nth-of-type(1) { //Select github and git container
					display: flex;
					flex-direction: row;
					column-gap: 2em;

					> a {
						text-decoration: none;

						> img {
							width: 150px;
						}	
					}
				}
			}
		}

		> #seperator {
			display: flex;
			justify-content: center;
			align-items: center;

			> span {
				display: block;
				width: 80vw;
				height: .4rem;
				border-radius: 20px;
				background-color: var(--main-background-color);
				margin: 15px 0 15px 0;
			}
		}
		> #linux-section { //Linux section
			margin-top: 3em;

			#linux-tux {
				width: 250px;
			}
		}
	}
}