//hi i like flexboxes;

@use 'modules/global';
@use 'modules/header';

@include header.topbar-header("Home");

@mixin text-animation-loadin($anim-name, $start-size) {
	@keyframes #{$anim-name} {
		0% {
			width: $start-size;
		}
		100% {
			width: 0;
		}
	}
}

main {
	@include global.flex-it(space-evenly, center);
	width: global.real-viewbox(80vw);
	height: 80vh;
	
	#GitHub-pfp {
		border-radius: 50%;
		width: 330px;
		transition: width .5s, transform 1s;
		
		&:hover {
			width: 340px;
			transform: rotate(360deg);
			transition: width .5s, transform 1.5s;
		}

		@media (prefers-reduced-motion) {
			&:hover {
				transform: rotate(0deg) !important;
			}
		}
	}
	//Convert ::after 'pseudo' or ::before to a span block
	@mixin pseudo-to-span($width: auto, $bottom, $color: black) {
		display: block;
		background-color: $color;
		width: $width;
		height: 1.1em;
		bottom: $bottom;
		position: relative;
	}
	
	h1, h2 {
		text-align: center;
	}

	@include text-animation-loadin("", 3.3rem);

	h1 {
		font: {
			family: global.$Montserrat;
			size: 3em;
		}

		&::after {
			content: '';

			@include pseudo-to-span(10em, 3.3rem);
			transition: width 1s;
		}
	}
	
	h2 {

	}
}