$color-calendar-graph-day-bg: #dddbdb;
$color-calendar-graph-day-L1-bg: #39dd34;
$color-calendar-graph-day-L2-bg: #45a045;
$color-calendar-graph-day-L3-bg: #047526;
$color-calendar-graph-day-L4-bg: #0a4208;

.github-calendar {
    font-family: var(--Montserrat-font);
    font-weight: bold;
	color: var(--font-light-color);

    rect.ContributionCalendar-day[data-level='0'] {
        fill: $color-calendar-graph-day-bg;
    }
    rect.ContributionCalendar-day[data-level='1'] {
        fill: $color-calendar-graph-day-L1-bg;
    }
    rect.ContributionCalendar-day[data-level='2'] {
        fill: $color-calendar-graph-day-L2-bg;
    }
    rect.ContributionCalendar-day[data-level='3'] {
        fill: $color-calendar-graph-day-L3-bg;
    }
    rect.ContributionCalendar-day[data-level='4'] {
        fill: $color-calendar-graph-day-L4-bg;
    }
    text { //Hide days of the week within the calendar
        display: none
    }
    //Anchors
    a {
        text-decoration: none;
    }
    a[href="https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile"],
    .js-activity-overview-graph-container,
    .text-normal,
    .flex-lg-row,
    .contrib-column {
        display: none;
    }
    .js-org-filter-link {
        color: var(--font-light-color)
    }
    //--
    .avatar, .mr-1 { 
        width: 40px;
        height: 40px;
    }
}