:root {
	--Montserrat-font: "Montserrat", sans-serif;
	--DancingScript-font: "Dancing Script", cursive;
	--light-button-hover: #323232;
	--font-light-color: #fafafa;
	--button-hover-speed: .4s;
	--main-section-color1: #2d61cc;
}